// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-primary: #58e1c1;
$color-secondary: #777;
$color-link: #51ddfc;
$color-img-border: #ccc;


// Media Queries
$media-xs: 575px;
$media-sm: 576px;
$media-med: 768px;
$media-lg: 992px;