// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-primary: #58e1c1;
$color-secondary: #777;
$color-img-border: #ccc;

$color-bg-default: #51ddfc;
$color-bg-success: #63cc82;
$color-bg-error: #e4757a;
$color-bg-warning: #fd7856;
$color-bg-info: #927bc1;

$color-bg-col-3: #deb2ee;
$color-bg-col-4: #7ee6fd;
$color-bg-col-5: #88d9a0;
$color-bg-col-6: #4da2bb;
$color-bg-col-7: #ec9fa3;
$color-bg-col-8: #fd9f85;
$color-bg-col-12: #80e8d1;


// Media Queries
$media-xs: 575px;
$media-sm: 576px;
$media-med: 768px;
$media-lg: 992px;